.App {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.completada {
  text-decoration: line-through;
  opacity: 0.4;
  color: #fff;
}

.mensaje__error {
  color: #df2323;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem;
  letter-spacing: 1px;
}
